<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/about.css">
	<title>PI Network|About</title>
	<link rel="icon" href="images/fevicon.png" type="image/icon">
</head>

<body>
	<header>
		<nav>
			<a th:href="@{/}">
				<img src="images/logo.png" alt="" class="logo">
				<p><b>Pi</b> Network</p>
			</a>
			<ul>
				
				<li><a th:href="@{/StackPage}">Stack</a></li>

				<li> <a th:href="@{/AboutPage}">About Us</a></li>
				<li> <a th:href="@{/DeveloperPage}">Developers</a></li>

				<li class="icon">
					<a th:href="@{https://www.facebook.com/PiCoreTeam?mibextid=9R9pXO}" target="_blank"><i
							class="bi bi-facebook"></i></a>
					<a th:href="@{https://x.com/PiCoreTeam?s=20}" target="_blank"> <i class="bi bi-twitter"></i></a>
					<a th:href="@{https://youtube.com/@PiCoreTeam?si=AWzBLZYMJjzx9hkr}" target="_blank"> <i
							class="bi bi-youtube"></i></a>
					<a th:href="@{https://www.instagram.com/pi_network?igsh=cXVrY2YweDczMzRk}" target="_blank"> <i
							class="bi bi-instagram"></i></a>

					<!-- <i class="bi bi-list"></i> -->
				</li>
					<div class="toggle_btn">
				<i class="bi bi-list "></i>
			</div>

			</ul>
		 <div class="dropdown_menu ">
                <li><a th:href="@{/StackPage}">Stack</a></li>
				<li> <a th:href="@{/AboutPage}">About Us</a></li>
				<li> <a th:href="@{/DeveloperPage}">Developers</a></li>
				
				<li class="icon">
					<a th:href="@{https://www.facebook.com/PiCoreTeam?mibextid=9R9pXO}" target="_blank"><i
							class="bi bi-facebook"></i></a>
					<a th:href="@{https://x.com/PiCoreTeam?s=20}" target="_blank"> <i class="bi bi-twitter"></i></a>
					<a th:href="@{https://youtube.com/@PiCoreTeam?si=AWzBLZYMJjzx9hkr}" target="_blank"> <i
							class="bi bi-youtube"></i></a>
					<a th:href="@{https://www.instagram.com/pi_network?igsh=cXVrY2YweDczMzRk}" target="_blank"> <i
							class="bi bi-instagram"></i></a>

					<!-- <i class="bi bi-list"></i> -->
				</li>
              </div> 
		</nav>
              
			
	</header>
          <script src="js/script.js"></script>
	
	<div class="navdown">
		<h3>Pi Network</h3>
		<h1>The Future of Social Cryptocurrency in Web3</h1>
		<div class="navdownpoint">
			        <h5><i class="bi bi-gear-wide-connected"></i><br> <b>47+ Million Engaged Members</b>
         <p>An open community powered by a cryptocurrency delivering accessibility and a robust utilities-driven Web3 ecosystem</p>        
        </h5>
        <h5><i class="bi bi-minecart-loaded"></i><br> <b>Free to Mine Cryptocurrency</b>
        <p>Pi is always free to mine on mobile, putting power into the hands of people worldwide for a fairer, more distributed crypto</p>
        </h5>
        <h5></i>  <i class="bi bi-globe"></i><br> <b>35+ Core Team Members Globally</b>
        <p>From Pi’s headquarters in Silicon Valley to across the United States, Europe and Asia, the Pi Core Team has global reach</p>
        </h5>
        <h5><i class="bi bi-lightbulb"></i><br> <b>Proprietary  & Revolutionary Tech</b>
        <p>Pi uses our energy-light mining method with our crowd-scaled KYC solution to provide access and identity verification for Web3</p>
        </h5>
		</div>
	</div>

	<div class=" middle1">
		<h1>Who We Are</h1>
		<p>To bring forth a better world of cryptocurrency, the Pi Founders knew they had to integrate theory and
			practice, applying what they learned in their Stanford PhDs in computer and social sciences to a real-world
			environment. After identifying key barriers to Crypto accessibility and adoption, the Pi Founders set out
			to build the next generation of web integrated with blockchain. Pi Network—first becoming available in
			December 2018 and officially launched on March 14, 2019 (Pi Day), with growing community participation
			ever since—is their solution. Today, the 35+ full-time Core Team members around the world strive to
			enable a large, passionate, and globally-spread-out community to make decentralized efforts toward a
			common purpose.</p>
	</div>
	<section>
		<div id="abou-pi">
			<h1>Built for Everyone, By Everyone</h1>
			<p>Pi Network is a <b>community of tens of millions of humans</b> mining Pi cryptocurrency to use and build
				the Web3 app ecosystem. This blockchain network relies on its community of Pioneers, and rewards
				them, through an innovative mobile mining mechanism, for their diverse contributions and digital
				citizenship in a clear, meritocratic and decentralized way. <br>
				In order to ensure fairness in Pi mining, secure the Pi blockchain, maintain integrity in the Pi
				ecosystem, and eventually create and safeguard the community-run governance, it is essential to
				empower real people around the world and disempower malicious actors, bots, or free riders. Pi
				relies on its community of Pioneers to meritocratically mine Pi tokens using their mobile phones,
				while Pi KYC serves as a core mechanism to ensure true humanity and build collaboration into the
				network, enabling the community to create a decentralized ecosystem with meaningful use cases for
				everyday people. An accessible developer platform, combined with a large, identity-verified and
				crypto-enabled social network, positions Pi Network to become a pillar of the next wave of
				technological revolution.</p>

		</div>
		<img src="images/logo.png" alt="">
	</section>

	<div class="founder">
		<h2>The Founders</h2>
		<div class="found1">

			<img src="images/Dr.-Nicolas-Kokkalis.jpg" alt="">
			<ul>
				<li>
					<h3>Nicolas Kokkalis <br>
						Head of Technology</h3>
					<p><i>Dr. Nicolas Kokkalis is a Stanford PhD and instructor of Stanford’s first decentralized
							applications class, CS359B, in 2018. His work focuses on combining distributed systems and
							human computer interaction to bring cryptocurrency to everyday people. As a strong and
							long-term believer of the technical, financial and social potential of cryptocurrencies,
							he is determined to move them beyond their current limitations and is committed to bringing
							the power of blockchain to more people.</i>

				</li>
				<a th:href="@{/ReadPage1}"> Read More</a></p>
			</ul>

		</div>

		<div class="found1">
			<img src="images/Dr.-Chengdiao-Fan-1-1-1.jpg" alt="">
			<ul>
				<li>
					<h3>
						Chengdiao Fan <br>
						Head of Product</h3>
					<p><i>Dr. Chengdiao Fan is a Stanford PhD in Anthropological Sciences harnessing social computing to
							unlock human potential on a global scale. <br>
							By optimizing human-computer interaction and envisioning the future human socioeconomic life
							through the web, Chengdiao is building Pi Network to mobilize individuals all over the world
							to participate and be rewarded for their contributions, and establish an inclusive ecosystem
							for global citizens to unleash and capture their own agency, and in turn create utilities
							and
							productions for society and the world.</i>

					</p>
				</li>
				<a th:href="@{/ReadPage2}">Read More</a>
			</ul>

		</div>
	</div>

	<footer>
		<div class="footer-items">
			<ul>
				<a href="https://socialchain.app/developer_terms" target="_blank">Developers terms of use</a>
				<a href="https://socialchain.app/tos" target="_blank">Terms of Service</a>
				<a href="https://socialchain.app/privacy" target="_blank">privacy & policy</a>
			</ul>
		</div>
	</footer>
</body>

</html>